!Plugins\FMODStudio\Binaries
!Plugins\FMODStudio\Content
!Plugins\FMODStudio\Source
!Plugins\FMODStudio\FMODStudio.uplugin
!Plugins\FMODStudioNiagara\Binaries
!Plugins\FMODStudioNiagara\Content
!Plugins\FMODStudioNiagara\Source
!Plugins\FMODStudioNiagara\FMODStudioNiagara.uplugin
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/.idea.Projekt_Babadook.dir/.idea/workspace.xml
